.calendar{
    width: 100%;
    height: 100vh;

    &-header{
        width: 100%;
        height: 100vh;
        background-color:#FFBF81;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: headerCalendar;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    &-title{
        font-size: 3em;
        font-weight: bold;
        color: #ffffff;
        margin-top: -1350px;
        animation-name: titleCalendar;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

@keyframes headerCalendar {
    0% {height: 100vh;}
    25% {height: 80vh;}
    50% {height: 60vh;}
    75% { height: 30vh;}
    100% {height: 25vh;}
}

@keyframes titleCalendar {
    0% {margin-top: -1350px;}
    100% {margin-top: 0px;}
}