body{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    
}

.gallery{
    width: 200vw; 
    height: 200vh; 
    background-image: url(../../images/background/planette.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex; 
}

.beloved{
    position: absolute;
    top: 19.5%; 
    left: 7%; 
    font-size: 3em;
    color:#90D1E3;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #90D1E3;
        padding-left: 1%;

    }
}

.bot-discord{
    position: absolute;
    top: 35%; 
    left: 23%; 
    font-size: 3em;
    color:#EEE3AB;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #EEE3AB;
        padding-left: 1%;

    }
}

.rpg-python{
    position: absolute;
    top: 12%; 
    left: 35%; 
    font-size: 3em;
    color:#067BC2;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #067BC2;
        padding-left: 1%;

    }
}

.orecipes{
    position: absolute;
    top: 50%; 
    left: 3%; 
    font-size: 3em;
    color:#FFBF81;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #FFBF81;
        padding-left: 1%;

    }
}

.chatroom{
    position: absolute;
    top: 85%; 
    left: 3%; 
    font-size: 3em;
    color:#89023E;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #89023E;
        padding-left: 1%;

    }
}

.github-repos{
    position: absolute;
    top: 75%; 
    left: 30.5%; 
    font-size: 3em;
    color:#A1F190;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #A1F190;
        padding-left: 1%;

    }
}

.todolist{
    position: absolute;
    top: 55%; 
    left: 40%; 
    font-size: 3em;
    color:#D1B1C8;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #D1B1C8;
        padding-left: 1%;

    }
}

.runner-js{
    position: absolute;
    top: 95%; 
    left: 50%; 
    font-size: 3em;
    color:#CFCFEA;
    transition: 1s;
    &:hover{
        transition: 1s;
        border-left: 5px solid #CFCFEA;
        padding-left: 1%;

    }
}

